/*reset*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 10px;
}
.logo img {
  height: 50px;
}

.nav {
  align-self: center;
  margin-right: 10px;
}
.nav a{
  color: inherit;
  color: seashell;
  margin-left: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  align-items: center;
}

#mission {
  display: flex;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  background-size: cover;
  width: 1200px;
  align-items: center;
}
.mission-text {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 1200px;
  background-color: black;
  justify-content: space-around;
}

#tea {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  width: 1000px;
}
#tea h2 {
  margin-bottom: 15px;
}
.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.product-image {
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

#
